blinker==1.4
cffi==1.6.0
Django==1.6.11
django-cors-headers==1.0.0
django-mongodb-engine==0.6.0
django-rest-framework-mongoengine==3.3.0
djangorestframework==3.2.5
djangotoolbox==1.8.0
greenlet==0.4.9
mongoengine==0.10.6
Pillow==2.9.0
pymongo==3.3.1
readline==6.2.4.1
