{% extends 'plataforma/base.html' %}
{% load static %}

{% block title %}Poi Plataforma | Destinos{% endblock %}

{% block css %}

{% endblock %}

{% block content %}

	<!-- page content -->
	<div class="right_col" role="main">
		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Destinos</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div id="map"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /page content -->

{% endblock %}

{% block javascript %}	
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhj68UdS4_RWpK1k3xJzTqHzTQZmAccvU&libraries=drawing"&signed_in=true&libraries=drawing></script>
	<script src="{% static "back/build/js/geolocation-marker.js" %}"></script>
	<script src="{% static "back/build/js/map.js" %}"></script>
{% endblock %}